data/processed/
data/raw/
data/result/
data/results/
data/results/mapa_probabilidad_aptitud.tif

*.tif
*.gpkg
*.shp
# Python
__pycache__ /
*.pyc
# Virtual Environment
. venv /
. ipynb_checkpoints /
# Sistema y editor
. DS_Store
. vscode /